@include make-breakpoints() using ($suffix) {
	.flex-center#{$suffix} {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.flex-justify-center#{$suffix} {
		display: flex;
		justify-content: center;
	}
	.flex-align-center#{$suffix} {
		display: flex;
		align-items: center;
	}
	.flex-row#{$suffix} {
		flex-direction: row;
		display: flex;
	}
	.flex-column#{$suffix} {
		flex-direction: column;
		display: flex;
	}
	.flex-space-between#{$suffix} {
		justify-content: space-between;
		display: flex;
	}
}
