$props: (m:margin,p:padding);

@function space($size) {
  @return map-get($spaces, $size);
}

@include make-breakpoints() using ($suffix) {
  @each $size, $space in $spaces {
    @each $prefix, $prop in $props {
      .#{$prefix}-#{$size}#{$suffix}  { #{$prop}: $space !important; }
      .#{$prefix}t-#{$size}#{$suffix} ,
      .#{$prefix}y-#{$size}#{$suffix}  {
        #{$prop}-top: $space !important;
      }
      .#{$prefix}r-#{$size}#{$suffix} ,
      .#{$prefix}x-#{$size}#{$suffix}  {
        #{$prop}-right: $space !important;
      }
      .#{$prefix}b-#{$size}#{$suffix} ,
      .#{$prefix}y-#{$size}#{$suffix}  {
        #{$prop}-bottom: $space !important;
      }
      .#{$prefix}l-#{$size}#{$suffix} ,
      .#{$prefix}x-#{$size}#{$suffix}  {
        #{$prop}-left: $space !important;
      }
    }
  }

  .mx-auto#{$suffix} {
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .ml-auto#{$suffix} {
    display: block;
    margin-left: auto!important;
  }
  .mr-auto#{$suffix} {
    display: block;
    margin-right: auto!important;
  }
}
