

@function space($size) {
  @return map-get($space-sizes, $size);
}

$props: (m:margin,p:padding);
@include make-breakpoints() using ($suffix) {
  @each $size, $space in $space-sizes {
    @each $prefix, $prop in $props {
      .#{$prefix}-#{$size}#{$suffix}  { #{$prop}: $space !important; }
      .#{$prefix}t-#{$size}#{$suffix} ,
      .#{$prefix}y-#{$size}#{$suffix}  {
        #{$prop}-top: $space !important;
      }
      .#{$prefix}r-#{$size}#{$suffix} ,
      .#{$prefix}x-#{$size}#{$suffix}  {
        #{$prop}-right: $space !important;
      }
      .#{$prefix}b-#{$size}#{$suffix} ,
      .#{$prefix}y-#{$size}#{$suffix}  {
        #{$prop}-bottom: $space !important;
      }
      .#{$prefix}l-#{$size}#{$suffix} ,
      .#{$prefix}x-#{$size}#{$suffix}  {
        #{$prop}-left: $space !important;
      }
    }
  }
}
@each $size, $space in $space-sizes {
  .m--#{$size} { margin: -$space !important; }
  .mt--#{$size},
  .my--#{$size} {
    margin-top: -$space !important;
  }
  .mr--#{$size},
  .mx--#{$size} {
    margin-right: -$space !important;
  }
  .mb--#{$size},
  .my--#{$size} {
    margin-bottom: -$space !important;
  }
  .ml--#{$size},
  .mx--#{$size} {
    margin-left: -$space !important;
  }
}
.mx-auto {
  // display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
.ml-auto {
  // display: block!important;
  margin-left: auto!important;
}
.mr-auto {
  // display: block!important;
  margin-right: auto!important;
}
