@include make-breakpoints() using ($suffix) {
  .text-muted#{$suffix} {
    color: color('dark', 'muted');
  }
  .text-center#{$suffix} {
    text-align: center;
  }
  .text-left#{$suffix} {
    text-align: left;
  }
  .text-bold {
    font-weight: bold;
  }
  .text-normal#{$suffix} {
    font-weight: normal;
  }
  .text-break-all#{$suffix} {
    word-break: break-all;
  }
  @each $color, $value in $colors {
   .text-#{$color}#{$suffix} {
      color: color($color);
    }
  }
}
