.Button {
  padding: 0 1rem;
  min-width: $button-min-width;
  border-color: color('dark');
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 2rem;

  background-color: color('light');
  color: color('dark');

  text-align: center;
  text-decoration: none;

  font-weight: bold;

  transition: .15s;
  height: $button-size;

  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: $font-size;

  outline: none;
  cursor: pointer;

  margin-bottom: $space;

  &:hover {
    color: color('light');
    background-color: color('dark');
  }

  &.disabled, &:disabled {
    pointer-events: none;
    opacity: $opacity-disabled;
  }

  &.circled {
    width: $button-size;
    padding: 0;
    border-radius: 100%;
    min-width: initial;
  }
  &.outline {
    border: 1px solid color('light');
    background-color: transparent;
  }

  @each $color, $value in $colors {
    &.#{$color} {
      background-color: color($color);
      color: color($color, 'contrast');
      border: 0;
      &:hover {
        background-color: color($color, 'hover');
      }
    }
    &.outline.#{$color} {
      border-color: color($color);
      color: color($color);
      background-color: transparent;
    }
  }
}
