.Divider {
  display: flex;
  color: color('gray-dark');
  line-height: 0.9em;
  hr {
    &:first-child {
      margin-right: space(1);
    }
    &:last-child {
      margin-left: space(1);
    }
  }
}
hr {
	border:0;
	height: 1px;
	background-color: color('gray-lighter');
  width: 100%;
}
