@each $name, $scale in $font-scales {
  @include media-breakpoint($name) {
    $h6-size: $font-size;
    $h5-size: $h6-size * $scale;
    $h4-size: $h5-size * $scale;
    $h3-size: $h4-size * $scale;
    $h2-size: $h3-size * $scale;
    $h1-size: $h2-size * $scale;

    h6 { font-size: $h6-size }
    h5 { font-size: $h5-size }
    h4 { font-size: $h4-size }
    h3 { font-size: $h3-size }
    h2 { font-size: $h2-size }
    h1 { font-size: $h1-size }

    .h6 { font-size: $h6-size }
    .h5 { font-size: $h5-size }
    .h4 { font-size: $h4-size }
    .h3 { font-size: $h3-size }
    .h2 { font-size: $h2-size }
    .h1 { font-size: $h1-size }
  };
};

a {
  cursor: pointer;
}
