.Spinner,
.Spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.Spinner {
	font-size: 0.15em;
  position: relative;
  text-indent: -9999em;
  border-width: 1.2em;
  border-style: solid;
  border-color: color(light) color(light) color(light) transparent;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
