.Page {
  // display: grid;
  min-height: 100%;

  &>main {
    min-height: 100%;
  }
  &.with-header {
    grid-template-rows: 60px 1fr;
  }
  &.with-aside {
    display: flex;
    flex-direction: row;
    height: 100%;

    &>main {
      width: 100%;
    }
  }
}
