@import 'Image';

[class*='Field-'] {
	margin-bottom: 1rem;
	position: relative;
	.field-label {
    display: block;
		margin-bottom: .3rem;
		.field-required-text {
			color: color('dark', 'muted');
			margin-left: .3rem;
			font-size: $font-size * .8;
			&:before {
				content: $field-required-text;
			}
		}
	}
	textarea {
		resize: none;
		overflow: hidden;
	}
	input, textarea, select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		outline: none;
		color: color('dark');
		width: 100%;
		display: block;
		background-color: color('light');
		border: .1rem solid color('dark', 'muted');
		box-sizing: border-box;
		border-radius: .3rem;
		padding: 0.7rem;
		&:hover {
			border-color: color('primary');
		}
		&:focus, &:active {
			border-color: color('primary');
		}
	  &:disabled {
	    pointer-events: none;
	    // opacity: $opacity-disabled;
	  }
	}

	&.error {
		color: color('error');
		.field-label {
			.field-required-text {
				color: color('error');
			}
		}
		input, textarea, select {
			color: color('error');
			border-color: color('error', "muted");
			&:hover, &:focus, &:active {
				border-color: color('error');
			}
		}
	}
	&.disabled {
		color: color('dark', 'muted');
	}
}
.field-error {
	margin: 0.2rem 0 0;
}
.field-loading {
	position: absolute;
	right: 0.6rem;
	top: 2.06rem;
	.Spinner {
		border-color: color(dark) color(dark) color(dark) transparent;
	}
}
.field-max-length {
	margin: 0.2rem 0 0;
	display: block;
	text-align: right;
}

.Field-select {
	.arrow {

	}
}

.Field-radio, .Field-checkbox {
	display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
	cursor: pointer;
	label, input {
		cursor: pointer;
		line-height: 1em;
		padding-left: .5rem;
	}
	input {
		-webkit-appearance: none;
 		width: 1rem;
 		height: 1rem;
 		border: .1rem solid color('dark');
 		display: block;
		padding: 0;
		outline: none;
		transition: .2s;

		&:checked {
		 border: .29rem solid color('primary');
		}
	}
}
.Field-radio {
	input {
		border-radius: 100%;
	}
}
.Field-checkbox {
	input:checked {
		border-width: .2rem;
		background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
		background-size: contain;
		background-color: color('primary');
  	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNyA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNi41MTE0MyAwLjc1ODIwM0w1Ljc5MDMzIDAuMDM3MTA5NEwyLjMwNjc0IDMuNTI1NzhMMS4yMDk4NiAyLjQyODkxTDAuNDg4NzcgMy4xNDQ5MkwyLjMwNjc0IDQuOTYyODlMMi42NjIyMSA0LjYwMjM0TDYuNTExNDMgMC43NTgyMDNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K")
	}
}

.Field-file {
	.Button {
		position: relative;
		width: 100%;
		background-color: color(dark, muted);
		color: color(light);
		border: 0;

		cursor: pointer;
		input {
			cursor: pointer;
			position: absolute;
			top:0; right: 0; bottom: 0; left: 0;
			opacity: 0;
			cursor: pointer;
		}
		span {
			cursor: pointer;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    // z-index: 1;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: flex;
		justify-content: space-between;
		border-radius: 1rem;
		padding: .1rem .5rem;
		&:hover {
			background-color: color(dark, disabled)
		}
		i {
			cursor: pointer;
		}
	}
}

.Field-switch {
  position: relative;
	margin-bottom: 1rem;
	cursor: pointer;
  &>input:checked + span {
    background-color: color(primary);
    &:after {
      margin-left: 1.25rem;
    }
  }
  &>input {
    all:unset;
    width: 2.75rem;
    height: 1.625rem;
    display: block;

    position: absolute;
    bottom: 0;
    left: 0;
  }
  &>span {
    width: 2.75rem;
    height: 1.625rem;
    border-radius: 1.25rem;
    background-color: #999999;
    transition: .4s;
    display: flex;
    margin-top: 0;
    cursor: pointer;

    &:after {
      content: " ";
      background-color: color(light);
      width: 1.375rem;
      height: 1.375rem;
      display: block;
      border-radius: 100%;
      margin: 0.125rem;
      box-shadow: -0.125rem 0 0.125rem rgba(0, 0, 0, 0.1);
      transition: .4s;
    }
  }
}

.Field-password, .Field-select {
	position: relative;
	.field-after {
		all: unset;
		cursor: pointer;
		position: absolute;
		right: 0;
		right: 0;
    bottom: 0;
    height: 39px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
	}
}
