@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); // https://fonts.google.com/specimen/Montserrat?query=mont&sidebar.open

@import 'scss';

@import 'utils/css';

@import 'typography';
@import 'controls';
@import 'modules';
@import 'layout';
@import 'media';

html, body, body > #root, {
  height: 100%;
  background-color: $color-light;
  color: $color-dark ;
  font-family: $font-family;
  font-size: $font-size;
}
.App {
  min-height: 100%;
}
