//CONFIG
$enable-css-variables: false!default;
$min-breakpoint-name: xs!default;
$field-required-text: 'required'!default;

// OPACITY
// $opacity-overlay:     0.8!default;
// $opacity-muted:       0.4!default;
// $opacity-disabled:    0.2!default;
// $opacity-ui:          0.05!default;

$opacities: (
  overlay:     0.8,
  muted:       0.4,
  disabled:    0.2,
  ui:          0.14
)!default;

// FONT
$font-family: 'Montserrat', sans-serif !default;
$font-size: 16px !default;
$font-size-small: $font-size * .8;
$font-scales: (
  xs: 1.16,
  sm: 1.18,
  md: 1.2,
  lg: 1.22,
  xl: 1.2,
) !default;
$line-height: 1.2em !default;

// BUTTON
$button-size: 42px;
$button-min-width: 160px;

// CONTAINER
$container-padding-x: 2rem!default;
$container-max-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// BREAKPOINTS
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// SPACES
$space: 8px !default;
$spaces:(
  0: 0,
  1: $space,
  2: $space * 2,
  3: $space * 3,
  4: $space * 4,
  5: $space * 6,
  6: $space * 8,
  7: $space * 10,
  8: $space * 14
)!default;

// MODAL
$modal-sizes: (
  1: $space * 40,
  2: $space * 60,
  3: $space * 80,
  4: $space * 120,
);
$sizes: (
  1: $space * 10,
  2: $space * 20,
  3: $space * 30,
  4: $space * 40,
  5: $space * 60,
  6: $space * 80,
  7: $space * 100,
  8: $space * 140
);

// GRID
$grid-gap: 16px !default;
$grid-columns: 12 !default;
$grid-rows: 10 !default;

// COLORS
$color-dark:              #333 !default;
$color-light:             #fff !default;
$color-primary:           #5F2EFF !default;
$color-error:             #FF5345 !default;
$color-success:           #0AB253 !default;
$colors: (
  'dark':               $color-dark,
  'light':              $color-light,
  'primary':            $color-primary,
  'error':              $color-error,
  'success':            $color-success
)!default;

$colors-brands: (
  'whatsapp':               #25D366,
)!default;
