//CONFIG
$enable-css-variables: false!default;
$enable-icon-font: true!default;

$opacity-overlay: 0.8!default;
$opacity-muted: 0.4!default;
$opacity-disabled: 0.2!default;

// GRID
$grid-gap: 10px !default;
$grid-columns: 12 !default;
$grid-rows: 10 !default;

// COLORS
$color-states: ('contrast', 'overlay', 'muted', 'disabled', 'hover', 'active', 'focus');

$color-dark:              #333 !default;
$color-light:             #fff !default;
$color-primary:           #5F2EFF !default;
$color-error:             #FF5345 !default;
$color-success:           #0AB253 !default;

$colors: (
  'dark':               $color-dark,
  'light':              $color-light,
  'primary':            $color-primary,
  'error':              $color-error,
  'success':            $color-success
)!default;
