.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: .3s opacity;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  display: block;

  &.show {
    pointer-events: all;
    .modal-bg {
      opacity: 1;
    }
  }
}

.modal-header {
  min-height: space(5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid color(dark, ui);
  position: relative;
}

.modal-footer {
  padding: space(2);
  width: 100%;
  border-top: 1px solid color(dark, ui);
  position: relative;
}

.modal-close, .modal-close:hover {
  all:unset;
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: space(5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-content {
  pointer-events: none;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;

  background-color: color('light');
  pointer-events: all;
  border-radius: 12px;
  display: block;
  transition: .3s;
  opacity: 0;
  pointer-events: none;

  height: auto;
  transform: translate(-50%, calc(-50% + 100px));
  position: absolute;
  top: 50%;
  left: 50%;
  &.show {
    pointer-events: all;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .modal-body {
    padding: space(2);
    width: 100%;
    overflow: auto;
  }
  &.transparent {
    .modal-inner {
      background-color: transparent;
    }
  }

  max-width: map-get($modal-sizes, length($modal-sizes));
  @include make-breakpoints() using ($suffix) {
    @each $name, $value in $modal-sizes {
      &.size-#{$name}#{$suffix} {
        max-width: $value;
      }
    }
  }

  @include media-breakpoint-max(md) {
    height: auto;
    align-self: flex-end;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    max-width: 100%!important;
    margin-top: space(2);
    transform: translate(0, 100px)!important;
    top: auto;
    bottom: 0;
    left: 0;

    &.show {
      transform: translate(0, 0)!important;
    }
  }
}

.modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(color('dark'), opacity(overlay));
  transition: .3s;
}

@keyframes modal-bg {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes modal-inner {
  0% { transform: translateY(100px);opacity: 0;}
  100% { transform: translateY(0);opacity: 1;}
}
