.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 100;
  transition: .3s;
  align-items: center;
  justify-content: center;

  &.show {
    display: flex;
    .modal-bg {
      animation-name: modal-bg;
      animation-duration: .3s;
    }
  }
}
.modal-container {
  display: grid;
	grid-gap: $grid-gap;
  grid-template-columns:repeat($grid-columns, 1fr);
  margin: 0 auto;
  width: 100%;
  @each $name, $value in $container-max-widths {
    @include media-breakpoint($name) {
      max-width: calc(#{$value} - #{$container-padding-x*2});
    };
  };
}
.modal-header {
  min-height: space(5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid color(dark, ui);
  position: relative;
}
.modal-footer {
  padding: space(1);
  width: 100%;
  border-top: 1px solid color(dark, ui);
  position: relative;
}
.modal-close, .modal-close:hover {
  all:unset;
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: space(5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-content {
  pointer-events: none;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: space(6) auto;

  animation-fill-mode: forwards;
  transform: scale(0);
  background-color: color('light');
  pointer-events: all;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  .modal-body {
    padding: 2rem;
    width: 100%;
    overflow: auto;
  }
  &.show {
    display: flex;
    animation-name: modal-inner;
    animation-duration: .3s;
  }
  &.transparent {
    .modal-inner {
      background-color: transparent;
    }
  }

  grid-column-start: 1;
  grid-column-end: $grid-columns+1;
  @include make-breakpoints() using ($suffix) {
    @for $i from 1 through $grid-columns {
      &.size-#{$i}#{$suffix} {
        $m: ($grid-columns/2)+1;
        grid-column-start: $m - $i;
        grid-column-end: $m + $i;
      }
    }
  }
}
// .modal-group {
//   display: none;
//   position: relative;
//   z-index: 1;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   &.show {
//     display: flex;
//   }
//
// }
.modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(color('dark'), $opacity-overlay);
}

@keyframes modal-bg {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes modal-inner {
  0% { transform: scale(0);}
  100% { transform: scale(1);}
}
