@function get-container-max-width($name) {
  @return map-get($container-max-widths, $name);
}

.Container {
  width: 100%;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
  &.center {
    margin: 0 auto;
  }
	@each $name, $value in $container-max-widths {
    @include media-breakpoint($name) {
      max-width: $value;
    };
  };
  @include loop-breakpoints() using ($breakpoint) {
    &.max-#{$breakpoint} {
      max-width: get-container-max-width($breakpoint);
    }
  }
}
.container-width {
  width: calc(100% - #{$container-padding-x*2});
	@each $name, $value in $container-max-widths {
    @include media-breakpoint($name) {
      max-width: calc(#{$value} - #{$container-padding-x*2});
    };
  };
}
